---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
  <body>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>

    <h1>About Me</h1>
    <h2>... and my ramblings</h2>

    <p>I like to build things, and this is my way of being able to share those things with you.</p>

    <p>This site will update and contain ramblings, thoughts, reflections, learning, and other content as I progress through this crazy little thing called.... life.</p>
	</body>
</html>
