---

---
<div class="nav-bar">
  <div class="title-link">
    <a href="/">Vincenzo Fehring</a>
  </div>
  <div class="nav-links">
    <a href="/work">Work</a>
    <a href="/posts">Posts</a>
  </div>
</div>
